extends layout

block content

  h1 #{title}
  p Math.abs() is applied to #{num1} is #{num1}
  p Math.pow()  is applied to #{num1} is #{pow}
  p Math.sign() is applied to #{num2} is #{sign}
  p Math.tanh() is applied to #{num3} is #{tanh}
  p Math.trunc() is applied to #{num4} is #{trunc}